#!/bin/bash

allowGroups="|
{%- if "ldapAllowGroups" in pillar %}
{%- for group in pillar['ldapAllowGroups'] %}
{%- set names = pillar["ldapAllowGroupsDict"][group] %}
{%- for name in names %}
{{- name -}}
{%- endfor %}
{%- endfor %}
{%- endif -%}
"

uri="ldap://ldap2.ops.cntv.priv ldap://ldap1.ops.cntv.priv"
baseDN="dc=ops,dc=cntv,dc=priv"
rpmFile="/usr/local/cntv/rpmPackage/nss-pam-ldapd-0.8.13.x86_64.rpm"

chattr -i /etc/passwd /etc/shadow /etc/group /etc/gshadow

killall -9 nslcd

yum remove -y sssd oddjobd
rpm -Uvh --force $rpmFile

authconfig --enableshadow --enablelocauthorize --enableldap --enableldapauth \
--ldapserver="$uri" --ldapbasedn="$baseDN" \
--enablemkhomedir --enableldaptls --updateall

echo "
uid nobody
gid nobody
uri $uri
base $baseDN
bind_timelimit 5
timelimit 10
ssl start_tls
tls_reqcert never
pam_password_prohibit_message \"Please visit http://10.70.36.196/ssp change your password.\"
pam_authz_search (&(objectClass=posixGroup)($allowGroups)(memberUid=\$uid))
" > /etc/nslcd.conf

echo "
uri $uri
base $baseDN
bind_timelimit 5
timelimit 10
ssl start_tls
tls_reqcert never
" > /etc/openldap/ldap.conf

/sbin/nslcd
grep "/sbin/nslcd" /etc/rc.local || echo "/sbin/nslcd" >> /etc/rc.local

getent passwd |grep ldaptest && echo "成功！" || { echo "失败！"; exit 1; }

#chattr +i /etc/passwd /etc/shadow /etc/group /etc/gshadow
