#检测周期
set daemon 10

#LOG文件
set logfile /var/log/monit.log

#mmonit
set mmonit http://monit:monit@10.70.63.131:8080/collector
set eventqueue basedir /usr/local/monit/ slots 1000

#WEB
	#设置http监控页面的端口
	set httpd port 30001

	#http监控页面的IP或域名
	use address {{ grains['id'] }}

	#允许内网访问
	allow 127.0.0.1
	allow 10.0.0.0/255.0.0.0
	allow 172.16.0.0/255.240.0.0
	allow 192.168.0.0/255.255.0.0

	#设置管理用户密码
	allow {{ pillar['myShadow']['monit']['secretString'] }}

#邮件报警：
	set mailserver 10.64.12.49
	with timeout 30 seconds
	{% for email in pillar['myShadow']['monit']['alertEmail'] -%}
	set alert {{email}}
	{% endfor -%}
	set mail-format {
from: {{ pillar['myShadow']['monit']['emailFrom'] }}
subject: {{ grains['id'] }} $SERVICE $EVENT -monit
message: 

{{ grains['id'] }} $SERVICE $EVENT

IP:			{{ grains['id'] }}
Service:		$SERVICE
Description:	$DESCRIPTION
Action:		$ACTION
Date:		$DATE
Hostname:	$HOST

click for detail: http://{{ grains['id'] }}:30001 or http://10.70.63.131:8080
}

#自动加载配置文件
check file monitrc path /usr/local/monit/etc/monitrc
	group system
	if changed sha1 checksum 
		then exec "/usr/local/monit/bin/monit -c /usr/local/monit/etc/monitrc reload"

#系统检查
check system {{ grains['id'] }}
	group system
	if memory usage > 98% then alert
	if swap usage > 25% then alert
	if cpu usage (user) > 80% for 3 cycles then alert
	if cpu usage (system) > 80% for 3 cycles then alert
	if cpu usage (wait) > 50% then alert

#设置包含配置文件
include /usr/local/monit/etc/inc/*.cfg
